#player
	margin-left: auto
	margin-right: auto
	max-width: 30rem
	padding: 10vw
	* + *
		margin-top: 1.5rem

	h1
		font-size: 1.5rem
		font-weight: 300
		margin-bottom: 2vw

	button
		display: block
		width: 100%
		background-color: #e7e7e7
		border: none
		text-align: center
		padding: 1rem 2rem
		cursor: button

	label
		display: block

	input:not([type="radio"]):not([type="checkbox"])
		display: block
		width: 100%
		border: 1px solid currentColor
		padding: 1rem

	input[type="radio"],
	input[type="checkbox"]
		margin-right: 0.5rem
		width: 1rem
		height: 1rem