html
	font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Segoe WP', system-ui, Roboto, sans-serif
	line-height: 1.33
	
	// Scales by 1px for every 100px from 600px to 1000px
	@media (min-width: 600px)
		font-size: calc(112.5% + 4 * (100vw - 600px) / 400)

h1
	font-size: 3rem
	font-weight: 100
h2
	font-size: 2rem
	font-weight: 600
h3
	font-weight: 600

body
	* + *
		margin-top: 1rem

.text-left
	text-align: left

.text-center
	text-align: center