html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="static/main.css")
		title= title || 'Error'
	body
		#app
		#board
			h1.text-red.text-center= message || 'Oops, something seems to have gone wrong 😕'
