html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="static/board.css")
		title= title
	body
		#app
		// Refer to comments in player.pug
		script(src="static/manifest.js")
		script(src="static/vendor.js")
		script(src="static/gameboard.js")
