html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="static/player.css")
		title Player
	body
		#app

		// References mix-manifest.json for mappings from source files to built files.
		// Necessary for e.g. when vendor.js changes and it needs to referenced by a new name "vendor.js": "vendor-9c7274b2.js"
		script(src="static/manifest.js")

		// vendor.js holds everything under .extract in webpack.mix.js (so basically a merged library)
		// I think it is meant for ease of inclusion, no need to add script(...) for a million libraries/versions/files
		script(src="static/vendor.js")

		script(src="static/player.js")
