<template lang="pug">
#board
	section(v-if="(currentView == 'waiting')")
		#intro
			h1 Bullets
			p The wacky shared fun of shooting your friends and taking their loot
			p Get your phone and go to:
			h2 {{ gameUrl }}
		#players
			ol
				li(v-for="player in players") {{ player.name }}

	section(v-if="(currentView == 'gameboard')")
		h1 This game has started

</template>

<script>
export default {
	el: '#app',
	data() {
		return {
			currentView: 'waiting',
			gameId: null,
			urlBase: null,
			players: [],
			round: {
			    aimingInfo: {},
				backOffInfo: {}
			}
		}
	},
	methods: {
		screen(view) {
			this.currentView = view
		},
		emitStartRound() {
			this.$socket.emit('startRound')
			console.log('Round was started')
			console.log('Start pointing gun')
		},
		emitStartPointingGun() {
			this.$socket.emit('startPointingGun')
		},
		emitStopPointingGun() {
			this.$socket.emit('stopPointingGun')
			console.log('Stop pointing gun')
		},
		emitStartBackOff() {
			this.$socket.emit('startBackOff')
			console.log('Start Back Off')
		},
		emitStopBackOff() {
			this.$socket.emit('stopBackOff')
			console.log('Stop Back off')
		},
		emitGetRoundInfo(){
			this.$socket.emit('getRoundInfo')
		},
		emitCalculateRoundEnd() {
			this.$socket.emit('calculateRoundEnd')
		},
		emitEndRound() {
			this.$socket.emit('phaseEndRound')
		}
	},
	computed: {
		gameUrl() {
			return window.location.href + this.gameId
		}
	},
	socket: { // Ref: https://github.com/icebob/vue-websocket
		events: {
			onboarded(data) {
				({ gameId: this.gameId, urlBase: this.urlBase } = data) // ES6 destructuring style, extracts gameId and urlBase from data object
			},
			errorMessage(data) {
				console.log(data)
			},
			updatePlayers(data) {
				this.players = data
			},
			gameStarted() {
				this.screen('gameboard')
				// Game start animation
				// Once game start animation ends:
				setTimeout(this.emitStartRound, 3000)
			},
			roundStarted() {
			    this.emitStartPointingGun()
				// Round has started
				// After 5 seconds, make players stop pointing gun
				// When we stop players from pointing gun, they will send aimingInfo forcefully
				setTimeout(this.emitStopPointingGun, 5000)
				// We will need to updateAimingInfo here until this.players.length === this.round.aimingInfo.length
				// OR we can just ask for it:
				setTimeout(this.emitGetRoundInfo, 5500)
				// Once we are sure we have all aimingInfo:
				// Animation to show who is aiming who
				// Once animation ends, start new phase for stay in / back off:
				setTimeout(this.emitStartBackOff, 6000)
				// We wait here for 5 seconds so people can stay in or back off
				// If they run out of time we will force them to:
				setTimeout(this.emitStopBackOff, 11000)
				// Stopping back off will make slow players skip backing off
				// Once we are sure we have all backOffInfo
				// OR we can ask for it:
				setTimeout(this.emitGetRoundInfo, 11500)
				// Animation to show who has backed off?
				// Then ask server to calculate the damages:
				setTimeout(this.emitCalculateRoundEnd, 12000)
				// Some fancy animation to show how round concluded
				// LOOT LOGIC HERE
				// Other fancy animation to show how the loot was shared
				// Once the loot sharing animation has ended:
				setTimeout(this.emitEndRound, 15000)
			},
			updateRoundInfo(data) {
			    this.round = data
				console.log(data)
			}
		}
	}
}
</script>
