<template lang="pug">
#player
	section(v-if="(currentView == 'name')")
		h1 What’s your name?
		input(
			v-model="player.name"
			placeholder="player.name"
			required)
		button(v-on:click="joinGame") Continue

	section(v-if="(currentView == 'waiting')")
		h1 Ok, {{ player.name }}, now hold on while others join
		button(v-if="!round.started" v-on:click="startGame") Start the game

	section(v-if="(currentView == 'pointGun')")
		h1 Pick your ammo
		label(v-for="(amount, ammo) in player.ammo")
			input(type="radio" name="ammo")
			span {{ ammo }} ({{ amount }})
		h1 Pick your target
		label(v-for="player in game.players")
			input(v-if="!player.self && player.lives > 0" type="radio" name="player")
			span(v-if="!player.self && player.lives > 0") {{ player.name }}
		button(v-if="!round.gunPointed" v-on:click="pointGun") Continue

	section(v-if="(currentView == 'pickPrize')")
		h1 Pick a prize
		label(v-for="prize in round.loot")
			input(type="radio" name="prize")
			span ({{ prize }})
		button(v-on:click="pickPrize") Continue

	section(v-if="(currentView == 'backOff')")
		h1 Maybe you want to back off?
		p This will keep you safe, but you won't get any money either
		button(v-if="!round.backedOff" v-on:click="backOff(false)") Stay in
		button(v-if="!round.backedOff" v-on:click="backOff(true)") Back off

	section(v-if="(currentView == 'statusUpdate')")
		h1 {{ status.message }}

	section(v-if="(currentView == 'gameOver')")
		h1 {{ status.message }}
		p Want to try again?
		button Same players
		button New players

</template>
<script>
const setCookie = (cookieName, cookieValue, daysUntilExpiry) => {
	const d = new Date()
	d.setTime(d.getTime() + (daysUntilExpiry * 24 * 60 * 60 * 1000))
	document.cookie = `${cookieName}=${cookieValue};expires=${d.toGMTString()};path=/`
}

const getCookie = (cookieName) => {
	const name = `${cookieName}=`
	const decodedCookie = decodeURIComponent(document.cookie)
	const ca = decodedCookie.split(';')

	for (let c of ca) {
		while (c.charAt(0) === ' ') {
			c = c.substring(1)
		}
		if (c.indexOf(name) === 0) {
			return c.substring(name.length, c.length)
		}
	}

	return ''
}

export default {
	data() {
		return {
			currentView: 'name',
			game: {
				id: window.location.pathname.split('/')[1],
				pot: [],
				players: []
			},
			round: {
				started: false,
				gunPointed: false,
				backedOff: false,
				loot: []
			},
			player: {
				name: 'Name',
				loot: [],
				ammo: {
					dud: 5,
					bang: 3
				}
			},
			status: {
				message: 'No message'
			}
		}
	},
	watch: {
		player: {
			handler(data) {
				document.title = data.name
			},
			deep: true
		}
	},
	methods: {
		joinGame() {
			this.$socket.emit('joinGame', {
				gameId: this.game.id,
				playerName: this.player.name
			})
			setCookie('playerName', this.player.name, 30)
			this.screen('waiting')
		},
		startGame() {
			this.$socket.emit('startGame', { gameId: this.game.id })
			this.round.started = true
		},
		screen(view) {
			this.currentView = view
		},
		pointGun() {
			if (!this.round.gunPointed) {
				this.$socket.emit('pointGun', { targetId: 0, usedBullet: 'bang' }) // Fake data used here, needs proper method
				this.round.gunPointed = true
			}
		},
		backOff(didPlayerBackOff) {
			if (!this.round.backedOff) {
				this.$socket.emit('backOff', didPlayerBackOff)
				this.round.backedOff = true
				if (didPlayerBackOff) {
					this.status.message = 'You chose to back off'
				} else {
					this.status.message = 'You chose to stay in'
				}
				this.screen('statusUpdate')
			}
		},
		pickAPrize() {
			this.$socket.emit('pickedAPrize', null)
		}
	},
	socket: { // Ref: https://github.com/icebob/vue-websocket
		events: {
			errorMessage(data) {
				console.error(data)
			},
			connect() {
				console.log('Websocket connected! ', this.$socket)
				if (getCookie('playerName')) {
					this.player.name = getCookie('playerName')
				}
			},
			gameStarted() {
				this.round.started = true
				this.status.message = 'Game has started'
				this.screen('statusUpdate')
			},
			playerStartPointingGun() {
				this.round.started = true
				this.round.gunPointed = false
				this.round.backedOff = false
				this.screen('pointGun')
			},
			playerStopPointingGun() {
				this.pointGun()
			},
			playerStartBackOff() {
				this.screen('backOff')
			},
			playerStopBackOff() {
				this.backOff(false)
			},
			updatePlayers(data) {
				this.game.players = data
				const self = this.game.players.find((player) => {
					return player.socketId === this.$socket.id
				})
				self.self = true
				this.player = self
			},
			phaseCalculateDamage() {

			},
			endRound() {
				this.round.backedOff = true
				this.status.message = 'Round has ended'
				this.screen('statusUpdate')
			},
			playerPickAPrize(data) {
				if (data === this.$socket.id) {
					this.screen('pickPrize')
				}
			}
		}
	}
}
</script>
